<!-- تنسيق ذيل الصفحة -->
<style>
.footer .footer-body {
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 5px;
    color: var(--light-primary-color);
}
.footer .footer-item {
    text-align: center;
}
.footer .footer-list li a {
    color: #ffffff !important;
}
.footer .footer-list li a:hover {
    border-right: 8px solid var(--light-primary-color);
    border-left: 8px solid var(--light-primary-color);
    color: var(--light-primary-color) !important;
}
.app-heading .heading-primary {
    background-color: var(--primary-color);
    color: #ffffff !important;
    border-radius: 25px;
    padding: 3px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.app-heading .heading-primary:empty {
    background-color: transparent;
    padding: 0;
}
</style>
