<!-- التنسيق -->
<script>
var style = document.createElement('style');
style.innerHTML = `
    .categories-style-1 {
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        grid-gap: 30px;
    }
    [dir] .category-item {
        border-radius: 3px;
        min-width: 120px;
        border: 0;
        box-shadow: 0 0 0 #00000000;
    }
    [dir] .category-item .category-details {
        padding: 7px 2px;
        text-align: center;
        border-top: 0;
    }
    .cart-button {
        backdrop-filter: blur(3px);
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        right: -100%;
        justify-content: end;
    }
    .product-thumbnail:hover .cart-button {
        right: 0;
    }
    .cart-button a {
        color: #fff;
        background: var(--primary-color);
        padding: 10px 20px;
        outline: 0;
        font-weight: 500;
        width: 100%;
        text-align: center;
    }
    
    
    [dir] .product-item {
        border-radius: 17px;
    }
    [dir] .product-item .product-thumbnail {
        border-radius: 17px 17px 0 0;
    }
    span.fa.fa-star.checked {
        margin-top: 8px;
        font-size: 15px;
        overflow: hidden;
    }
    .product-item .product-price {
        display: block;
        overflow: hidden;
    }
    .categories-style-1::-webkit-scrollbar {
        width: 0;
    }
    [dir] .product-item .product-price .before {
        margin: 0 0 0 7px;
    }
    .content-box-with-icon-section .icon {
        display: block;
        font-size: 21px;
        height: 50px;
        line-height: 53px;
        width: 50px;
    }
    [dir] .content-box-with-icon-section .content-box {
        background: #c9cacb47;
        display: block;
        border-radius: 21px;
        position: relative;
        padding: 30px 14px 6px;
        text-align: center;
        margin-top: 25px;
    }
    [dir] .content-box-with-icon-section .title {
        display: block;
        text-align: center;
        font-size: 16px;
        margin-top: 6px;
    }
    [dir] .content-box-with-icon-section .icon {
        border: 5px solid #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: -30px;
        width: 60px;
        height: 60px;
        background: #fff;
        border-radius: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    [dir] .content-box-with-icon-section .description {
        margin: 4px 0 12px;
        font-size: 14px;
    }
    .grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .containersidox {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .row,
    .row2 {
        display: flex;
        justify-content: space-between;
    }

    .row2 {
        float: left;
    }
    img.puy.fr-fil.fr-dib {
        overflow: hidden;
        display: block;
        width: 65px;
        margin-left: 4px;
        background: #ffffffde;
        padding: 7px;
        border-radius: 10px;
        float: left;
    }

    .app-heading .heading-primary {
        font-size: 21px;
    }
    [dir] .app-heading .heading-description {
        margin: 25px 0 0;
    }
`;
document.head.appendChild(style);
</script>
